.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.boardmember {
	width: 100%;
	float: left;
	border: 2px solid #eee;
	position: relative;
	text-align: center;
	background-color: #fff;

	@media screen and (min-width: $tabwidth) {
		width: 21%;
	}
	
	

	&.first {
		margin: 0 0 30px 0;
		@media screen and (min-width: $tabwidth) {
			margin: 2%;
		}
		@media screen and (min-width: $deskwidth) {

		}

	}
	&.last {
		margin: 0 0 30px 0;
		@media screen and (min-width: $tabwidth) {
			margin: 2%;
		}
		@media screen and (min-width: $deskwidth) {

		}

	}
	a.open {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		color: #fff;
		text-decoration: none;
		text-indent: -9000px;
	}
	.member-photo {
		width: 100%;
		position: relative;
		
		overflow: hidden;
		img {
			width: 100%;
			transform: scale(1);
			@include transition(all ease .3s);
		}
	}
	.content {
		width: 100%;
		padding: 3%;
		position: relative;
	}
	.readmore {
		width: 100%;
		overflow: hidden;
		background-color: rgba(0,0,0,.8);
		color: #fff;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		text-transform: uppercase;
		@include transition(all ease .3s);
	}
	&:hover {
		.readmore {
			height: 100%;
			line-height: 80px;
		}
		.member-photo {
			img {
				transform: scale(1.1);
			}
		}
	}
	h2 {
		font: {
			size: 16px;
		}
		color: #333;
		border-bottom: 1px solid #eee;
		padding-bottom: 5px;
	}
	h3 {
		font: {
			size: 14px;
		}
		color: #999;
	}
}
.single-board {
	width: 100%;
	position: relative;
	.left {
		width: 100%;
		float: left;
		position: relative;
		text-align: center;

		@media screen and (min-width: $tabwidth) {
			width: 20%;
		}
	}
	.right {
		width: 100%;
		float: right;
		@media screen and (min-width: $tabwidth) {
			width: 75%;
		}
	}
	h2 {
		font: {
			size: 16px;
		}
	}
}
section.other-members {
	width: 100%;
	float: left;
	margin: 40px 0;
	h3.sect-head {
		font: {
			size: 28px;
		}
		text-align: center;
	}
}
.newsletter-link {
	width: 100%;
	margin: 0 0 30px 0;

	@media screen and (min-width: $tabwidth) {
		width: 45%;
	}

	&.first {
		float: left;
	}
	&.last {
		float: right;
	}
	a {
		display: block;
		background-color: rgba($color-purple, .7);
		color: #fff;
		padding: 15px 20px;
		@include transition(all ease .3s);
		border: 2px solid rgba($color-purple, 1);
		border-radius: 5px;
		text-decoration: none;
		text-align: center;

		&:hover {
			background-color: rgba($color-purple, 1);
		}
	}
}
section.contact {
	width: 90%;
	margin: 0px auto;

	@media screen and (min-width: $tabwidth) {
		width: 80%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 60%;
	}
}